@import '../../utils/utils.scss';

.missed{
    opacity: 0.85;
    border:2px solid $Red-800;
}

.scheduled{
    border: 2px solid $Blue-700;
    &__span{
        position: absolute;
        top: -6px;
        right: -10px;
        color:$Blue-400;
    }
}

input[type="text"]{
    background-color: rgba($color: #000000, $alpha: 0);
}

.actionsCheck{
    font-size: larger;
}

.action-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 0.25rem;

        .checked{
            color: $primary-color;
        }
    }
}