.actionable-wrapper{
    position: relative;
    padding: 2rem;
    width: 100vw;
    height: calc(100vh - 72px);
    background-color: plum;
    overflow-y: auto;

    .grid-container{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-columns:auto;

        .actionable-card{
            position: relative;
            border: 1px solid black;
            height: 25rem;
            background-color: brown;
            padding: 0.5rem;

            .actionable-card__menu{
                height: 1.5rem;

                span{
                    cursor: pointer;
                }
            }

            .menu-wrapper{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0.5rem;

                .menu{
                    width: 100%;
                    height: 100%;
                    background-color: whitesmoke;
                    padding-top: 0.5rem;
                    padding-left: 0.5rem;

                    .header-wrapper{
                        width: 100%;
                        height: 1.5rem;
                        
                        button{
                            height: 100%;
                        }
                    }

                    .menu-body{
                        width: 100%;
                        height: calc(60%);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        padding-left: 1.5rem;

                        li{
                            width: max-content;
                            cursor: pointer;
                            border-bottom: 1px solid transparent;

                            &:hover{
                                border-bottom-color: black;
                            }
                        }
                    }
                }

                
            }

            .actionable-card__title{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
                border-bottom: 1px solid black;
            }

            .actions-wrapper{
                .actions{
                    width: 100%;
                    padding-left: 0.5rem;
                }
            }
        }

        .add-button{
            display: flex;
            justify-content: center;
            align-items: center;
            
            .button-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 1rem;
                .actionable-add-button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: azure;
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                }
            }
        }
    }
}