@import '../../utils/utils.scss';

.header{
    display: grid;
    grid-template-columns: 1fr 3fr 6fr 15fr 2fr;
    align-items: center;
    height: 72px;

    .menu-wrapper{
        position: relative;
        list-style:none;
        margin:0;
        padding:0;

        .list-wrapper{
            display: none;
            position:absolute;
            z-index: 100;
            top:170%;
            left:0;
            width: 12rem;
            background:#eee;
            padding:0;
            transition: height 2s, display 2s;

            li{
                display: flex;
                justify-content: flex-start;
                position:relative;
                float:left;
                margin: 0.5rem 0;
                padding:0;
                a{
                    display:block;
                    text-transform:uppercase;
                    letter-spacing:1px;
                    border-bottom: 1px solid transparent;

                    &:hover{
                        border-bottom-color: black;
                    }
                }
            }
        }

        .onShow{
            display: grid;
            padding: 0.5rem;
            grid-template-rows: repeat(5,1fr);
        }

    }
    
    .buttons{
        display: flex;
        .header__button{
            margin: 0 0.5rem;
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            border-width: 1px;
            border-radius: 9999px;
            padding: 0.5rem;
        }

        .CreateEventButton-button{
            width: 8rem;
            display: flex;
            align-items: center;
            padding: 0.5rem;
            border-width: 1px;
            border-radius: 9999px;
            padding: 0.5rem;
        
            .add{
                height: 1.75rem;
                width: 1.75rem;
                display: flex;
                align-items: center;
            }
        
            .create{
                padding-right: 1.75rem;
                padding-left: 0.75rem;
            }
        }
    }

    .navigation-arrows{
        display: flex;
        justify-content: center;
        align-items: center;

        .navigation-arrows__container{
            display: flex;
            justify-content: center;
            align-items: center;
            
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                .arrow{
                    cursor: pointer;
                    color: rgb(75 85 99);
                }
            }
        }

        h2{
            font-weight: 700;
            color: rgb(107 114 128)
        }
    }

    .label-wrapper{
        p{
            font-weight: 700;
            color: rgb(107 114 128);
        }
        
        .list-wrapper{
            label{
                align-items: center;
                margin-top: 0.75rem;
                display: block;
                position: relative;
                padding-left: 1.5rem;
                margin-bottom: 0.75rem;
                cursor: pointer;
                user-select: none;
                text-transform: capitalize;
        
                input{
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                    &:checked ~ .checkMark {
                        &:after{
                            display: block;
                        }
                    }
                }
                
                .checkMark{
                    position: absolute;
                    bottom: calc(50% - 0.625rem);
                    left: 0;
                    height: 1.25rem;
                    width: 1.25rem;
                    border-width: 2px;
                    border-style: solid;
                    border-radius:0.25rem;
        
                    &:after{
                        content: "";
                        position: absolute;
                        display: none;
                        left: 6px;
                        top: 3px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        transform: rotate(45deg);
                    }
                } 
        
                &:hover{
                    input{
                        &:checked{
                            & ~ .checkMark {
                                &:after{
                                    display: block;
                                }
                            }    
                        }
                    }
                }
            }
        }
    }
}



input{
    &:checked ~ .text-indigo{
        background-color:$Indigo-500;
    }
}

input{
    &:checked ~ .text-gray{
        background-color:$Gray-500;
    }
}

input{
    &:checked ~ .text-green{
        background-color:$Green-500;
    }
}

input{
    &:checked ~ .text-blue{
        background-color:$Blue-500;
    }
}

input{
    &:checked ~ .text-red{
        background-color:$Red-500;
    }
}

input{
    &:checked ~ .text-purple{
        background-color:$Purple-500;
    }
}


.text-indigo{
    border-color:$Indigo-500;
}
.text-gray{
    border-color:$Gray-500;
}
.text-green{
    border-color:$Green-500;
}
.text-blue{
    border-color:$Blue-500
}
.text-red{
    border-color:$Red-500
}
.text-purple{
    border-color:$Purple-500
}