.inbox-wrapper{
    padding: 2rem;
    width: 100vw;
    height: calc(100vh - 72px);
    background-color: plum;
    overflow-y: auto;

    .grid-container{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-columns:auto;

        div{
            border: 1px solid black;
            height: 20rem;

            .button-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 1rem;

                .inbox-add-button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: azure;
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;

                    span{
                    }
                }
            }
        }

        
    }
}