@import '../../utils/utils.scss';

.inbox-wrapper{
    padding: 1rem 1rem 0 .5rem;
    width: 100vw;
    height: $bodyHeight;
    background-color: $secondary-color;
    
    .inbox-Tickler{
        display: grid;
        grid-auto-flow: column;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        overflow-x: auto;
        width: 100%;
        height: 2.7rem;
        .day-event{
            width: 25rem;
            border: 1px solid black
        }


        @include barStyles()
    }

    .grid-inbox{
        padding-top: 1rem;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1.5fr;
        grid-auto-columns:auto;
        height:calc($bodyHeight - 4rem);
            
        
        .calendar-dayView{
            overflow-y: auto;
            border-radius: 0.5rem;
            border: 1px solid black;
            .times-wrapper{
                padding-top: 0;
                position: relative;
                @include barStyles();
            }

        }

    }
}

//media


//tablet-laptopSm
@media (max-width:1024px) {
    .inbox-wrapper{
        .grid-inbox{
            .grid-container{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
    
}

//phone
@media (max-width:425px) {
    .inbox-wrapper{
        padding: 1rem 0rem 0 0.5rem;
        .inbox-Tickler{
            .day-event{
                width: 10rem;
            }
        }
        .grid-inbox{
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            padding-top: 0.25rem;

            .grid-container{
                grid-template-columns: 1fr;
            }
        }
    }
    
}

