@import '../../utils/utils.scss';

.menuModal_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        color: rgb(156 163 175)
    }
    
    .menuModal{
        position: absolute;
        z-index: 200;
        width: 25rem;
        height: 35rem;
        background-color: rgb(255 255 255);
        border-radius: 1rem;
        .menuModal__header{
            display: flex;
            justify-content: space-between;
            background-color: rgb(243 244 246);
            padding: 0.5rem 1rem;
            border-radius: 1rem 1rem 0 0;

            button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 0.5rem;
            }
        }

        .menuModal__body{
            width: 100%;
            padding: 1rem;

            .body-wrapper{

                .title-input{
                    width: 100%;
                    padding-top: 0.75rem;
                    border-width: 0px;
                    color: rgb(75 85 99);
                    font-size: 1.25rem/* 20px */;
                    line-height: 1.75rem/* 28px */;
                    font-weight: 600;
                    padding-bottom: 0.5rem/* 8px */;
                    border-bottom-width: 2px;
                    border-color: rgb(229 231 235);
                    outline: 2px solid transparent;
                    outline-offset: 2px;

                    &:focus{
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        border-color:  rgb(59 130 246);
                    }
                }

                .description-input{
                    width: 100%;
                    border-width: 0px;
                    border-bottom-width: 2px;
                    padding-top: 0.75rem;
                    padding-bottom: 0.5rem;
                    color: rgb(75 85 99);
                    border-color: rgb(229 231 235);

                    &:focus{
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        border-color: rgb(59 130 246)
                    }

                }

                .actions{
                    padding: 0 1rem;
                    display: flex;
                    flex-direction: column;

                    .add-action-wrapper{
                        width: 100%;
                    }

                    .input-wrapper{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        button{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                
                .colors-input{
                    grid-column-start: 2;
                    display: flex;
                    column-gap: 0.5rem;

                    .color{
                        width: 1.5rem;
                        height: 1.5rem;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }

                    span{
                        color: rgb(255 255 255);
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                    }
                }
            }
        }

        footer{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            border-top-width: 1px;
            padding: 0.75rem;
            margin-top: 1.25rem;
    
            button{
                background-color: rgb(59 130 246);
                padding: 0.5rem 1.5rem;
                border-radius: 0.25rem;
                color: rgb(255 255 255);
    
                &:hover{
                    background-color: rgb(37 99 235);
                    
                }
            }
        }
    }
}


.date-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .miniCalendar-section{
        position: relative;
        .miniCalendar-wrapper{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .time{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
    
        input{
            margin: 0 0.5rem 0 0.5rem;
            width: 2.5rem;
            &:focus{
                border: none;
                outline: none;
            }
            &:hover{
                cursor: pointer;
                background-color: darkgray;
                outline: 1px solid rgb(102, 102, 102);
                border-radius: 10%;
            }
            
        }
        
    }
}

.error{
    color: red;
    font-size: small ;
}