@import '../../../utils/utils.scss';

.days-month-wrapper{
    width: 100%;
    height: calc(100%);
    background: $background;
    .days-names-wrapper{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        height: fit-content;
        .days-names{
            text-align: center;
        }
    }
    .month-wrapper{
        height: calc(100% - 24px);
        border-left: $calendar-lines;
        border-top: $calendar-lines;
    }
}

/*
.month-wrapper.rows-6{
    grid-template-rows: repeat(6,1fr);
}

.month-wrapper.rows-4{
    grid-template-rows: repeat(4,1fr);
} */