$primary-color: #5c3dff;
$secondary-color: #353535;
$secondary-light: #d9d9d9;
$base-color: #ffffff;
$highlights: #f9e900;
$menu: whitesmoke;
$underline: black;
$action-button: rgb(59, 130, 246);
$selection-accent-hover: rgb(110 34 180);
$selection-accent: blueviolet;
$dayview-background: white;
$timeline-color: red;
$menu-button-color: black;
$text-color-light: white;
$add-button-color: whitesmoke;
$text-color-dark: black;

$calendar-lines: 1px solid #ef00ff;
$background: linear-gradient(179deg, rgb(11 0 35) 30%, rgb(20 0 65) 100%);

$headerHeight: 3rem;
$bodyHeight: calc(100vh - $headerHeight);
$box-shadow: $secondary-color 0px 0px 5px;

@mixin barStyles {
  &:hover {
    &::-webkit-scrollbar-track {
      background: rgba($color: #000000, $alpha: 0.125);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($color: #000000, $alpha: 0.5);
    }
  }
}

@mixin aibutton {
  background-color: $action-button;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  color: $text-color-light;
  &.disabled {
    background-color: rgb(128, 128, 128);
    border: none;
    color: rgb(196, 196, 196);
    cursor: not-allowed;
  }
}

// gray
$Gray-50: #f9fafb;
$Gray-100: #f3f4f6;
$Gray-200: #e5e7eb;
$Gray-300: #d1d5db;
$Gray-400: #9ca3af;
$Gray-500: #6b7280;
$Gray-600: #4b5563;
$Gray-700: #374151;
$Gray-800: #1f2937;
$Gray-900: #111827;

// Red
$Red-50: #fef2f2;
$Red-100: #fee2e2;
$Red-200: #fecaca;
$Red-300: #fca5a5;
$Red-400: #f87171;
$Red-500: #ef4444;
$Red-600: #dc2626;
$Red-700: #b91c1c;
$Red-800: #991b1b;
$Red-900: #7f1d1d;

// Green
$Green-50: #f0fdf4;
$Green-100: #dcfce7;
$Green-200: #bbf7d0;
$Green-300: #86efac;
$Green-400: #4ade80;
$Green-500: #22c55e;
$Green-600: #16a34a;
$Green-700: #15803d;
$Green-800: #166534;
$Green-900: #14532d;

// Emerald
$Emerald-50: #ecfdf5;
$Emerald-100: #d1fae5;
$Emerald-200: #a7f3d0;
$Emerald-300: #6ee7b7;
$Emerald-400: #34d399;
$Emerald-500: #10b981;
$Emerald-600: #059669;
$Emerald-700: #047857;
$Emerald-800: #065f46;
$Emerald-900: #064e3b;

// Blue
$Blue-50: #eff6ff;
$Blue-100: #dbeafe;
$Blue-200: #bfdbfe;
$Blue-300: #93c5fd;
$Blue-400: #60a5fa;
$Blue-500: #3b82f6;
$Blue-600: #2563eb;
$Blue-700: #1d4ed8;
$Blue-800: #1e40af;
$Blue-900: #1e3a8a;

// Indigo
$Indigo-50: #eef2ff;
$Indigo-100: #e0e7ff;
$Indigo-200: #c7d2fe;
$Indigo-300: #a5b4fc;
$Indigo-400: #818cf8;
$Indigo-500: #6366f1;
$Indigo-600: #4f46e5;
$Indigo-700: #4338ca;
$Indigo-800: #3730a3;
$Indigo-900: #312e81;

// Violet
$Violet-50: #f5f3ff;
$Violet-100: #ede9fe;
$Violet-200: #ddd6fe;
$Violet-300: #c4b5fd;
$Violet-400: #a78bfa;
$Violet-500: #8b5cf6;
$Violet-600: #7c3aed;
$Violet-700: #6d28d9;
$Violet-800: #5b21b6;
$Violet-900: #4c1d95;

// Purple
$Purple-50: #faf5ff;
$Purple-100: #f3e8ff;
$Purple-200: #e9d5ff;
$Purple-300: #d8b4fe;
$Purple-400: #c084fc;
$Purple-500: #a855f7;
$Purple-600: #9333ea;
$Purple-700: #7e22ce;
$Purple-800: #6b21a8;
$Purple-900: #581c87;
