@import "../../../utils/utils.scss";

.times-wrapper{
    padding-top: 1.5rem;
    position: absolute;
    width: 100%;
    height: $bodyHeight;   
    display: grid;
    grid-template-columns: 1fr 20fr;
    background-color: white;
    overflow-y: auto;
    @include barStyles();
    
    .hours-grid{
        display: grid;
        height: 90rem;
        grid-template-rows: repeat(24,1fr);
    }

    .on-top-displays{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
    }

    .aside-hours-wrapper{
        position:relative;
        padding-right: 0.5rem;
        .aside-hours{
            padding-right: 0.5rem;
            margin-top: 1.4rem;
            justify-content: end;
            align-items: center;
            border-right: 1px solid rgb(167, 167, 167);

        }
    }
    

    .time-table{
        position: relative;
        .hour-block{
            border-bottom: 1px solid black;
        }

        .number-23{
            border-bottom: none;
        }

        .events-wrapper{
            grid-template-rows: repeat(96,1fr);
            pointer-events:none;
            .day-event{
                margin-left: 0.2rem;
                margin-right: 0.4rem;
                display: grid;
                grid-template-columns: 1fr 10fr;
                padding: 0.5rem;
                .times{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
                .info{
                    height: 100%;
                    div{
                        width: 100%;
                        &:nth-child(1){
                            h3{
                                width: 100%;
                                text-align: center;
                                border-bottom: black 1px solid;

                            }
                        }
                    }
                }
            }
        }
    
        .time-line-wrapper{
            grid-template-rows: repeat(1440,1fr);
            pointer-events:none;
            div{
                position: relative;
                z-index: 10;
                border-radius: 2px;
                border-top: 2px solid plum;
            }
        }
    }

    
}