@import './utils/utils.scss';



.indigo{
    background-color: $Indigo-500;
}
.gray{
    background-color: $Gray-500;
}
.green{
    background-color: $Emerald-500;
}
.blue{
    background-color: $Blue-500;
}
.red{
    background-color: $Red-500;
}
.purple{
    background-color: $Purple-500;
}


