
.DumperEvent-Wrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    

    .DumperEvent{
        width: 20rem;
        height: 25rem;
        background-color: aqua;
        border-radius:0.5rem 0.5rem 0 0;

        .DumperEvent__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(243 244 246);
            padding: 0.25rem 1rem;
            border-radius:0.5rem 0.5rem 0 0;
            
            span{
                cursor: pointer;
            }
        }

        .DumperEvent_body{
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .title-input{
                margin-bottom: 1rem;
            }
        }
    }
}